<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @status_name %>
  
</p>

<p>
  <strong>Value:</strong>
  <%= @contact.value %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @contact.note %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @contact.assigned_to %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
